@media screen and (max-width: 1200px) {

    header {

        width: 90%;

        margin: 0 auto;

    }




Expand All
	@@ -20,7 +20,7 @@

/* Responsive nav kicks in */

@media screen and (max-width: 991px) {

    header {

        width: 90%;

        padding-left: 25px;

    }




Expand Down
Expand Up
	@@ -254,7 +254,7 @@




@media screen and (max-width: 640px) {

    .hero .hero-content {

        padding-top: 100%;

    }




    #eng-pics .img-wrap i {

Expand Down
Expand Up
	@@ -293,11 +293,11 @@




@media screen and (max-width: 480px) {

    .hero .hero-content {

        padding-top: 110%;

    }




    .hero .hero-content img {

        width: 65%;

    }




    .hero .btn {

Expand Down
Expand Up
	@@ -357,10 +357,10 @@




@media screen and (max-width: 320px) {

    .hero .hero-content {

        padding-top: 130%;

    }




    .rsvp {

        padding-top: 20px;

    }

}
